body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0B2B21;

}

button {
    padding: 100px 50px;
    font-size: 40px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 100%;
    border-color: #C5A367;
    color: #C5A367;
    border: solid 2.5px #C5A367;
}
button:hover {
    transition: all 1s ;
    box-shadow: 0  0 50px rgba(197, 163, 103, 0.6);
    color: beige;
}

button:active {
    transition: all 0.2s;
    box-shadow: 0 0 30px rgba(197, 163, 103, 0.8);
    color: black;
}
